---
name: Continuous Delivery

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ios:
    name: iOS
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Lint Go
        uses: golangci/golangci-lint-action@v9

      - name: Generate Bindings
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init
          make bindings-ios

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml
          channel: "stable"
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path:
            "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      - name: Install Dependencies
        run: |
          flutter pub get

      - name: Lint Flutter
        run: |
          dart analyze --fatal-infos

      - name: Build
        run: |
          flutter config --enable-ios
          flutter config --enable-swift-package-manager
          flutter build ipa --no-codesign

  android:
    name: Android
    runs-on: ubuntu-latest
    steps:
      # This is required to avoid the following error:
      # "java.io.IOException: No space left on device" while running the Flutter
      # build.
      - name: Remove Unused SDKs
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/local/share/vcpkg
          sudo rm -rf /usr/local/share/miniconda
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /opt/hostedtoolcache/go
          sudo rm -rf /opt/hostedtoolcache/Python
          sudo rm -rf /opt/hostedtoolcache/node
          sudo rm -rf /opt/hostedtoolcache/R
          sudo rm -rf /opt/hostedtoolcache/Java
          sudo rm -rf /opt/hostedtoolcache/LLVM
          sudo rm -rf /opt/hostedtoolcache/Swift
          sudo rm -rf /opt/hostedtoolcache/Php
          sudo rm -rf /opt/hostedtoolcache/Perl
          sudo rm -rf /opt/hostedtoolcache/Scala
          sudo rm -rf /opt/hostedtoolcache/Julia
          sudo rm -rf /opt/hostedtoolcache/Mono
          sudo rm -rf /opt/hostedtoolcache/PowerShell
          sudo rm -rf /opt/hostedtoolcache/Crystal
          sudo rm -rf /opt/hostedtoolcache/Elixir
          sudo rm -rf /opt/hostedtoolcache/Erlang
          sudo rm -rf /opt/hostedtoolcache/FSharp
          sudo rm -rf /opt/hostedtoolcache/Haskell
          sudo rm -rf /opt/hostedtoolcache/OCaml
          sudo rm -rf /opt/hostedtoolcache/Rust
          sudo rm -rf /opt/hostedtoolcache/Sbt
          sudo rm -rf /opt/hostedtoolcache/Solidity
          sudo rm -rf /opt/hostedtoolcache/VisualStudio
          sudo rm -rf /opt/hostedtoolcache/WinAppDriver
          sudo rm -rf /opt/hostedtoolcache/Xamarin
          sudo rm -rf /opt/hostedtoolcache/Yarn
          sudo rm -rf /opt/hostedtoolcache/Zephyr
          sudo rm -rf /opt/hostedtoolcache/zig
          sudo rm -rf /opt/hostedtoolcache/zulu
          sudo rm -rf /opt/hostedtoolcache/azcopy

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Java
        run: echo "JAVA_HOME=$JAVA_HOME_17_X64" >> $GITHUB_ENV

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Lint Go
        uses: golangci/golangci-lint-action@v9

      - name: Generate Bindings
        run: |
          echo "$ANDROID_NDK_HOME"
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init
          make bindings-android

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version-file: pubspec.yaml
          channel: "stable"
          cache: true
          cache-key: "flutter-:os:-:channel:-:version:-:arch:-:hash:"
          cache-path:
            "${{ runner.tool_cache }}/flutter/:channel:-:version:-:arch:"

      - name: Install Dependencies
        run: |
          flutter pub get

      - name: Lint Flutter
        run: |
          dart analyze --fatal-infos

      - name: Build
        run: |
          flutter config --enable-android
          flutter build appbundle
